.recordingCard {
    display: flex;
    flex-direction: column;

    width: fit-content;
}

.recordingCard > label {
    font-size: 300%;
}

.recordingCard > input {
    font-size: 250%;
}