#frame {
    pointer-events: none;
    user-select: none;
    height: 25rem;
    border-radius: 5%;
    background-color: rgba(25, 24, 24, 0.771);
}

div#frame {
    width: 24.5rem;
    filter: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
